## Ejemplo 2: Consultas a la base de datos y construcción de `DataFrames`

### 1. Objetivos:
    - Realizar consultas a la base de datos y construir un `DataFrame` para cada tabla.
 
---
    
### 2. Desarrollo:

#### a) Tablas a `DataFrames`

Ya que tenemos nuestra conexión, basta con usar el comando `SELECT * FROM nombre_de_tabla` para pedir todos los datos que hay en cada tabla:

In [1]:
import pandas as pd
import sqlite3

In [2]:
base_de_datos = "../../Datasets/MovieLens/movielens.sqlite3"
conn = sqlite3.connect(base_de_datos)
cur = conn.cursor()

In [3]:
cur.execute("SELECT * FROM users")

In [4]:
resultados = cur.fetchall()

Si recuerdas el último ejemplo, `fetchall` nos regresa una `lista` de `tuplas`. Cada `tupla` representa una fila de nuestro conjunto de datos:

In [5]:
resultados[0]

(1, 'F', 1, 10, '48067')

In [6]:
columnas = [d[0] for d in cur.description]
columnas

['user_id', 'gender', 'age', 'occupation', 'cp']

Afortunadamente `pandas` puede recibir justamente `listas` de `tuplas` como ingredientes para construir `DataFrames`. Sólo hace falta indicarle el nombre de las columnas. Los nombres de las columnas están especificados en el [archivo Readme.md](../../Datasets/MovieLens/Readme.md) que venía incluido con el dataset:

In [7]:
df = pd.DataFrame(resultados, columns=columnas)

In [8]:
df.head(3)

   user_id gender  age  occupation     cp
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117

Creo que sería una buena idea convertir la columna `user_id` en índice para no tener información redundante:

In [9]:
df = df.set_index('user_id', drop=True)
df.head()

        gender  age  occupation     cp
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117
4            M   45           7  02460
5            M   25          20  55455

¡Listo! Vamos a guardar nuestros `DataFrames` en archivos .csv para que no haga falta volver a extraerlos de la base de datos. Ya podemos decirle adiós a nuestro fiel MySQL. ¡Chao, bellisimo!

In [10]:
df.to_csv("archivos.csv")

In [11]:
cur.close()
conn.close()