## Ejemplo 2: Consultas a la base de datos y construcción de `DataFrames`

### 1. Objetivos:
    - Realizar consultas a la base de datos y construir un `DataFrame` para cada tabla.
 
---
    
### 2. Desarrollo:

#### a) Tablas a `DataFrames`

Ya que tenemos nuestra conexión, basta con usar el comando `SELECT * FROM nombre_de_tabla` para pedir todos los datos que hay en cada tabla:

In [9]:
import mysql.connector
import pandas as pd

In [2]:
cnx = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="movienerd",
    password='sonerdy',
    database='movielens'
)

In [3]:
cursor = cnx.cursor()

In [4]:
cursor.execute("SELECT * FROM users")

In [5]:
result = cursor.fetchall()

Si recuerdas el último ejemplo, `fetchall` nos regresa una `lista` de `tuplas`. Cada `tupla` representa una fila de nuestro conjunto de datos:

In [6]:
result[0]

(1, 'F', 1, 10, '48067')

Afortunadamente `pandas` puede recibir justamente `listas` de `tuplas` como ingredientes para construir `DataFrames`. Sólo hace falta indicarle el nombre de las columnas. Los nombres de las columnas están especificados en el [archivo Readme.md](../../Datasets/MovieLens/Readme.md) que venía incluido con el dataset:

In [10]:
df = pd.DataFrame(result, columns=['user_id', 'gender', 'age', 'occupation', 'cp'])

In [11]:
df.head()

   user_id gender  age  occupation     cp
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

Creo que sería una buena idea convertir la columna `user_id` en índice para no tener información redundante:

In [12]:
df = df.set_index('user_id', drop=True)

df.head()

        gender  age  occupation     cp
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117
4            M   45           7  02460
5            M   25          20  55455

¡Listo! Vamos a guardar nuestros `DataFrames` en archivos .csv para que no haga falta volver a extraerlos de la base de datos. Ya podemos decirle adiós a nuestro fiel MySQL. ¡Chao, bellisimo!