## Reto 3: Agregaciones con `DataFrames`

### 1. Objetivos:
    - Aplicar agregaciones a `DataFrames` completos para obtener un análisis estadístico
 
---
    
### 2. Desarrollo:

#### a) Análisis estadístico con agregaciones

Eres el Analista de Datos de EyePoker Inc. Te han pedido que realices ciertas agregaciones con un conjunto de datos para poder realizar un análisis estadístico básico de los datos que hay dentro.

El conjunto de datos es el siguiente:

In [ ]:
## Realiza aquí los imports que necesites

In [2]:
datos = {
    'producto': ["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele", "El Desretinador", "Sacamel Ojocles", "Desojado", "Maribel Buenas Noches", "Cíclope", "El Cuatro Ojos"],
    'precio': [12000, 5500, 2350, 4800, 8900, 6640, 1280, 1040, 23100, 16700, 15000, 13400, 19600],
    'cantidad_en_stock': [34, 54, 36, 78, 56, 12, 34, 4, 0, 18, 45, 23, 5],
    'cantidad_vendidos': [120, 34, 59, 9, 15, 51, 103, 72, 39, 23, 10, 62, 59]
}

df = pd.DataFrame(datos)

In [3]:
df

                 producto  precio  cantidad_en_stock  cantidad_vendidos
0              Pokemaster   12000                 34                120
1                Cegatron    5500                 54                 34
2            Pikame Mucho    2350                 36                 59
3     Lazarillo de Tormes    4800                 78                  9
4           Stevie Wonder    8900                 56                 15
5                  Needle    6640                 12                 51
6            El AyMeDuele    1280                 34                103
7         El Desretinador    1040                  4                 72
8         Sacamel Ojocles   23100                  0                 39
9                Desojado   16700                 18                 23
10  Maribel Buenas Noches   15000                 45                 10
11                Cíclope   13400                 23                 62
12         El Cuatro Ojos   19600                  5                 59

Tu tarea es muy simple. Usando métodos de agregación, asigna las variables de la siguiente celda con los resultados de agregar nuestro `DataFrame` **por columna** usando cada una de las medidas estadísticas. Algunas de los métodos ya los conoces. Los que no, [puedes encontrarlos en este link](https://www.interactivechaos.com/manual/tutorial-de-pandas/dataframes-metodos-de-agregacion-y-estadistica). Lo que queremos obtener es una `Serie` con los nombres de las columnas como índice y las agregaciones por columna como valores. Una de las columnas que tenemos en el `DataFrame` no se presta para realizar análisis numéricos, elimínala antes de realizar tu análisis y asigna el resultado a la variable `df_droppped`.

**Sólo** utiliza funciones de agregación para tu análisis. En este caso no requieres hacer ninguna operación aritmética.

In [4]:
df_dropped =

# El valor mínimo de cada columna
mins =

# El valor máximo de cada columna
maxs =

# El promedio por columna
means =

# La mediana por columna (El valor que se encuentra a la mitad de la secuencia ordenada de valores)
medians =

# La desviación estándar por columna
stds =

Llama la siguiente celda para obtener un `DataFrame` que es el resumen del análisis estadístico:

In [5]:
from helpers import resumen_estadistico

resumen_estadistico(df, df_dropped, mins, maxs, means, medians, stds)

                    Min    Max  Rango      Promedio  Mediana          Std
precio             1040  23100  22060  10023.846154   8900.0  7210.205196
cantidad_en_stock     0     78     78     30.692308     34.0    23.382275
cantidad_vendidos     9    120    111     50.461538     51.0    34.289492

<details><summary>Solución</summary>

```python
df_dropped = df.drop(columns=['producto'])

# El valor mínimo de cada columna
mins = df_dropped.min(axis=0)

# El valor máximo de cada columna
maxs = df_dropped.max(axis=0)

# El promedio por columna
means = df_dropped.mean(axis=0)

# La mediana por columna (El valor que se encuentra a la mitad de la secuencia ordenada de valores)
medians = df_dropped.median(axis=0)

# La desviación estándar por columna
stds = df_dropped.std(axis=0)
```
    
</details>